<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='index.css')}}">
</head>
<body>
    <header>
        <h1>The History of the Snake Game </h1>
    </header>
    <main>
        <section>
            <h2>História:</h2>
            <p>Ele começou no fliperama, porém a sua primeira versão não se chamava Snake como conhecemos hoje, mas sim Blockade.Ele foi criado pelo fabricante de jogos Gremlin, uma empresa de jogos com sede em San Diegp, sendo lançado em 1976.Após o seu lançamento, outras desenvolvedoras de jogos começaram a criar jogos com finalidades semelhantes ao jogo anos depois, como por exemplo: Atari que lançou Worm em 1978. Não somente isso, como abriu caminho para a calculadora gráfica na época de popularidade, jogos semelhantes também foram sendo lançados. </p>
        </section>
        <img src="{{ url_for('static', filename='snake.png') }}" alt="cobra atual">
        <section>
            <h2>Era da Nokia:</h2>
            <p>Quando foi lançado o Nokia 6110, à febre pelo jogo se alastrou pelo mundo inteiro, pois o aparelho não só veio com a função de fazer chamadas apenas, como também veio com o jogo instalado em sua memória, sua adaptação para mobile foi feita pelo programador Taneli Armanto, alterando o seu nome para Snake e não trazendo novidades além de ser jogavél no aparelho. Entretanto com o lançamento do nokia 3310 em 2000, houve uma nova versão no jogo, tendo uma mudança monocromática e podendo ver a quantidade de pontos.<p>
        </section>
        <img src="{{ url_for('static', filename='Cobra.png') }}" alt="cobra antiga">
        <section>
            <h2>Descrição:</h2>
            <p>No jogo controlamos uma cobra que quando comemos a comida, (ou qualquer outro item) sua cauda vai aumentando, não devemos encostar nas paredes, que nós cerca e vai se aumentando os níveis de dificuldade. </p>                                                                                                                                                                                              
        </section>
    </main>
</body>
